{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News | Top Headlines</title>
    <link rel="stylesheet" href="https://drive.google.com/uc?export=view&id=1q6SXnrdxhA1YAETe1wBdWNSBGgCvyDwP" />
</head>
<body>
    <div class="card bg-primary shadow-soft border-li mx-3 my-5 text-center">
        <div class="card-header">
            <h1><b>News Headlines</b></h1>
        </div>
        <div id='holder' class="card-body">
        {% for data in Data %}
         <div class="card post bg-primary shadow-soft border-light my-3" target="_blank" onclick="window.open('{{data.url}}')">
                <div class="row no-gutters align-items-center hov">
                    <div class="col-md-4">
                        <img src="{{data.urlToImage}}">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h3 class="h5 card-title">{{data.title}}</h3>
                            <p class="card-text mb-4">
                                {{data.description}}
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <span class="card-text small">
                                    <span class="far fa-calendar-alt mr-2">
                                    </span>
                                    {{data.source.name}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          {% endfor %}
            
    <script src="{% static 'news.js' %}?{% now "U" %}"></script>
    
</body>
</html>
